@charset "utf-8";
html
{
//	background-color: #F5F5F5;
//	background-color: #CCCCCC;
	background-image:url(../image/background.png); 
	width: 100%;
}
body
{
	width: 100%;
}
.nav
{
	width: 100%;
	height: 50px;
}
.nav iframe
{
	width: 100%;
	height: 50px;
	border: 0px;
	background-color: #000000;
	position: fixed;
	top: 0px;
}
.nav_content 
{
//	background-image: url(../image/topBar.png);
//	background-repeat:  repeat-x;
//	background-color: #666699;
	background-color: #000000;
}
.nav_content ul
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	padding: 0;
	list-style-type:none;
}
.nav_content ul li
{
	float: left;
}
.nav_content a:link,a:visited
{
	width: 120px;
	height: 50px;
	line-height: 50px;
	margin: 0px 10px ;
	font-size: 20px;
	display: block;
	font-weight:bold;
	font-family: Helvetica;
//	color:#4A4A4A;
	color: #FFFFFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.nav_content a:hover,a:active 
{
//	background-color:#C8C8C8;
	color: #FF0000;
}
.nav_content ul li a img
{
	height:46px; 
	width:46px;
	line-height: 20px;
	margin: 2px auto;
	border: none;
}
.main
{
	width: 960px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.container
{
	//display: inline;
	width: 60%;
	float: left;
}

.content
{
	
	padding: 15px;
//	border: 2px solid #E5E5E5;
	float: left;
	margin-bottom: 15px;
	//background-color: #FFFFE8;
	background-color: #FFFFFF;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:90%;
}
.content iframe
{
	width: 100%;
	border: 0;

}
.ctContent p
{
	text-indent: 2em;
	line-height: 1.5em;
	font-size: 1.125em;
	letter-spacing: 2px;
	font-family: georgia,serif,SimSun,Helvetica, "Microsoft Yahei";
}
.ctTopic
{
	margin-bottom: 10px;
}
.ctInfo
{
//	height: 1.5em;
	margin-bottom: 10px;
}
.ctBK
{
	font-size: 22px;
	line-height: 6px;
/*	position: relative;
	top: -16px;*/
}
.RBK
{
	color: red;
}
.YBK
{
	color: yellow;
}
.GBK
{
	color: green;
}
.BBK
{
	color: blue;
}
.DBK
{
	color: black;
}
.ctTime
{
	float: right;
	font-family: Arial,Helvetica;
	color: #878787;
	font-size: 0.8em;
//	border: 1px solid #000000;
}
.ctLabels
{
	float: left;
	font-family: Arial,,Helvetica,"Microsoft Yahei","HiraginoSans GB";
	font-size: 0.8em;
}
.ctLabels ul
{
	list-style-type: none;
	display: block;
//	float: left;
}
.ctLabels ul li
{
	float: left;
	margin-left: 10px;
//	height: 1.5em;
}
.ctLabel:link,.ctLabel:visited
{
	color: #000;
	line-height: 1em;
//	text-decoration:blink;
}
.ctLabel:hover,.ctLabel:active
{
	color: #FF0000;
}
.sidebar
{
	margin-left: 10px;
	margin-right: auto;
	width: 348px;
	height: 500px;
	border: 1px solid #c6c6c6;
	float: left;
	display: inline;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFFFFF;
	position: fixed;
}
.sidebar ul
{
	margin-left: 15%;
	margin-top: 30px;
	list-style-type: none;
	font-size: 1.2em;
	font-weight: 600;
	font-family: Arial,georgia,Helvetica,SimSun,"HiraginoSans GB";
	line-height: 1.8;
}
*{padding:0; margin:0}